.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.messageContainer {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
}

.message {
  margin-top: 5px;
  margin-left: 5px;
}
